*.swo
*.swp
*.swm
*.swn
*.map
*.pyc
.DS_Store
__pycache__
*.sublime-workspace
*.sublime-project
web.pid
api.pid
node_modules/
node_modules/*

wording.db
apikey.key
apicert.crt

env/*
env/
env/**/*
**/env/**/*
