#content {
	background: $whiteish_color;
	width: 100%;
	min-height: 500px;
	overflow: hidden;


	#left_content, #right_content, #middle_content {
		display: inline-block;
		width: 32.6%;
		min-height: 100%;
		// padding: 8px;
		float: left;
		border-top: none;
		border-bottom: none;
	}
	h3 {
		padding-left: 8px;
		padding-bottom: 4px;
		padding-top: 8px;

		font-weight: bolder;
	}


	#middle_content {

		input {
			width: 100%;
			border: none;
			padding: 8px;
			font-size: 12px;
			&:focus {
				outline: none;
			}
		}

		h3 {
			color: $dark_color;
		}

		a {
			color: $url_blue;
		}

		table {
			text-align: left;
			width: 100%;
			// border: 1px solid #ddd;
			border-top: none;

			p {
				padding: 5px;
			}

			th {
				font-weight: bold;
				padding: 8px;
			}

			tr:nth-child(even) {
				background: #f1f1f1;
			}

			tr {
				border: 1px solid #ccc;
			}

			td {
				padding: 10px;

				&:hover > button {
					opacity: 1;
				}
			}

			button {
				transition: opacity 0.3s;
				opacity: 0;
				margin: 0 10px;
				float: right;
				padding: 0 10px;
				border-radius: 5px;
				cursor: pointer;
				font-size: 12px;
				color: white;
			}

			#practice_list {
				background: $light_blue_color;
				border: 1px solid $dark_blue_color;
			}

			#delete_list {
				background: $dark_color;
				border: 1px solid #960303;
			}

			#edit_list {
				background: $dark_blue_color;
				border: 1px solid #913D00;
			}
		}
	}

	#right_content {
		display: none;
		width: 50%;
		border-right: none;

		text-align: center;

		#list_items {

			h3 {
				font-weight: bold;
				margin: 8.5px;
			}

			table {
				text-align: left;
				width: 100%;
				border: 1px solid #ddd;
				border-top: none;


				th {
					font-weight: bold;
					padding: 10px;
				}

				tr {
					border: 1px solid #ccc;
				}

				td {
					padding: 10px;
				}

				tr:nth-child(even) {
					background: #f1f1f1;
				}
			}
		}

		#results {
			display: none;
			margin: 8px;
			background: white;
			border: 1px solid #ddd;
			text-align: left;

			h1 {
				font-size: 20px;
				font-weight: bold;
				margin: 8px;
			}

			h3 {
				font-weight: bold;
				margin: 8.5px;
			}

			table {
				text-align: left;
				width: 90%;
				border: 1px solid #ddd;
				border-top: none;


				th {
					font-weight: bold;
					padding: 10px;
				}

				tr {
					border: 1px solid #ccc;
				}

				td {
					padding: 10px;
				}

				tr:nth-child(even) {
					background: #f1f1f1;
				}
			}


			#results_bar {
				width: 500px;
				height: 30px;
				border: 1px solid #ddd;
				margin: 10px auto;
				text-align: left;

				#correct_bar, #incorrect_bar {
					display: inline-block;
					height: 50%;
					padding: 10px 0 10px 1%;
					transition: background 0.2s;
					cursor: pointer;
				}

				#correct_bar {
					width: 80%;
					background: #3FA157;

					&:hover {
						background: #3DD963;
					}
				}

				#incorrect_bar {
					width: 20%;
					background: #B52438;

					&:hover {
						background: #E62C44;
					}
				}
			}
		}

		#practice_button {
			width: 200px;
			height: 50px;
			font-size: 25px;
			background: $light_blue_color;
			color: white;
			border-radius: 5px;
			margin: 10px 0 10px 10px;
			border: 1px solid #1C1E80;
			outline: none;
			cursor: pointer;
		}
	}
}

