$url_blue: #3B96FF;
$user_list_item_height: 30px;

$dark_color: #1D2025;

$white_color: #F5F6F6;
$whiteish_color: #EBECEC;

$dark_blue_color: #2E7C8A;
$light_blue_color: #48BFD1;

$header-height: 60px;
