*,html,body {
	font-family: Helvetica;
	margin: 0;
	padding: 0;
}

$url_blue: #3B96FF;
$user_list_item_height: 30px;

$dark_color: #1D2025;

$white_color: #F5F6F6;
$whiteish_color: #EBECEC;

$dark_blue_color: #2E7C8A;
$light_blue_color: #48BFD1;

$header-height: 60px;


b { font-weight: bold; }

h1 {
	margin: 0;
}

header {
	height: $header-height;
	background-color: $dark_color;
	line-height: $header-height;

	h1 {
		font-size: 30;
		font-weight: 120;
		width: 300px;
		padding-left: 16px;
		color: $white_color;

	}

	#sign_or_log_in {

		right: 0;
		position: absolute;
		height: $header-height;
		top: 0;
		text-align: right;

		#sign_up, #log_in {
			width: 80px;
			height: $header-height;
			font-size: 15px;
			cursor: pointer;
			border: none;
			// right: 0;
		}

		#sign_up {
			background: $dark_blue_color;
			// border: 1px solid $dark_blue_color;
			color: $white_color;
		}


		#log_in {
			background: $light_blue_color;
			// border: 1px solid $dark_blue_color;
			color: $white_color;
		}
	}
}


#content {
	background: $whiteish_color;
	width: 100%;
	min-height: 500px;
	overflow: hidden;

	#slider_bar {
		// border-top: 2px solid black;
		// border-bottom: 2px solid black;
		width: calc(100% - 150px);
		float: right;
		/*padding: 10px;*/
		margin-top: 10px;
		padding-left: 0;

		ul {
			li {
				display: inline-block;
				margin: 0 20% 0 1%;
			}
		}
	}

	#practice_div {
		display: none;
		width: 60%;
		margin: auto 20%;
		padding: 1%;

		h1 {
			font-size: 15px;
			margin: 10px;
		}

		h2 {
			font-size: 40px;
			margin: 10px;
		}

		form {
			text-align: center;
		}

		input {
			width: 675px;
			height: 50px;
			font-size: 20px;
			padding: 10px;
			margin: 0 auto;
		}

		button {
			width: 100px;
			height: 50px;

			margin: 10px;
			border-radius: 5px;
			background: $light_blue_color;
			border: none;
			outline: none;
			color: white;
			font-size: 20px;
			// border: 1px solid $dark_blue_color;

			cursor: pointer;
		}

		p {
			margin-left: 12px;
		}
	}


	#left_content, #right_content, #middle_content {
		display: inline-block;
		width: 32.6%;
		min-height: 100%;
		// padding: 8px;
		float: left;
		border-top: none;
		border-bottom: none;
	}

	#left_content {
		// border-right: 1px solid $dark_color;
		background: $dark_blue_color;

		margin: 0;
		width: 150px;
		height: 100%;
		color: $whiteish_color;

		h3 {
			padding-left: 8px;
			padding-bottom: 4px;
			padding-top: 8px;

			font-weight: bolder;
		}


		.user_list_item {
			height: $user_list_item_height;
			background-color: $dark_blue_color;
			vertical-align: center;
			line-height: $user_list_item_height;
			padding-left: 8px;
			box-sizing: border-box;
			width: auto;
			// border-top: 1px solid $dark_color;

			a {
				color: $white_color;
				text-decoration: none;
				&:visited {
					color: $white_color;
				}

				&:hover {
					color: black;
					transition: color 0.3s;
				}
			}
		}

		.user_list_item.selected {
			background-color: $light_blue_color;
		}

	}

	#middle_content {
		a {
			color: $url_blue;
		}

		table {
			text-align: left;
			width: 100%;
			// border: 1px solid #ddd;
			border-top: none;

			p {
				padding: 5px;
			}

			th {
				font-weight: bold;
				padding: 8px;
			}

			tr:nth-child(even) {
				background: #f1f1f1;
			}

			tr {
				border: 1px solid #ccc;
			}

			td {
				padding: 10px;

				&:hover > button {
					opacity: 1;
				}
			}

			button {
				transition: opacity 0.3s;
				opacity: 0;
				margin: 0 10px;
				float: right;
				padding: 0 10px;
				border-radius: 5px;
				cursor: pointer;
				font-size: 12px;
				color: white;
			}

			#practice_list {
				background: $light_blue_color;
				border: 1px solid $dark_blue_color;
			}

			#delete_list {
				background: $dark_color;
				border: 1px solid #960303;
			}

			#edit_list {
				background: $dark_blue_color;
				border: 1px solid #913D00;
			}
		}
	}

	#right_content {
		display: none;
		width: 50%;
		border-right: none;

		text-align: center;

		#list_items {

			h3 {
				font-weight: bold;
				margin: 8.5px;
			}

			table {
				text-align: left;
				width: 100%;
				border: 1px solid #ddd;
				border-top: none;


				th {
					font-weight: bold;
					padding: 10px;
				}

				tr {
					border: 1px solid #ccc;
				}

				td {
					padding: 10px;
				}

				tr:nth-child(even) {
					background: #f1f1f1;
				}
			}
		}

		#results {
			display: none;
			margin: 8px;
			background: white;
			border: 1px solid #ddd;
			text-align: left;

			h1 {
				font-size: 20px;
				font-weight: bold;
				margin: 8px;
			}

			ul {
				margin: 8px;
			}

			#results_bar {
				width: 500px;
				height: 30px;
				border: 1px solid #ddd;
				margin: 10px auto;
				text-align: left;

				#correct_bar, #incorrect_bar {
					display: inline-block;
					height: 50%;
					padding: 10px 0 10px 1%;
					transition: background 0.2s;
					cursor: pointer;
				}

				#correct_bar {
					width: 80%;
					background: #3FA157;

					&:hover {
						background: #3DD963;
					}
				}

				#incorrect_bar {
					width: 20%;
					background: #B52438;

					&:hover {
						background: #E62C44;
					}
				}
			}
		}

		#practice_button {
			width: 200px;
			height: 50px;
			font-size: 25px;
			background: $light_blue_color;
			color: white;
			border-radius: 5px;
			margin: 10px 0 10px 10px;
			border: 1px solid #1C1E80;
			outline: none;
			cursor: pointer;
		}
	}
}

footer {
	text-align: center;
	margin: 20px;
}
