*,html,body {
	font-family: Helvetica;
	margin: 0;
	padding: 0;
}

$wording_blue: #1673DE;
$border_blue: #1C1E80;
$url_blue: #3B96FF;

b { font-weight: bold; }

h1 {
	margin: 0;
}

header {
	padding: 10px;
	height: 40px;
	background: #ddd;
	border-bottom: 1px solid #aaa;

	h1 {
		font-size: 30;
		font-weight: 100;
		width: 300px;
		margin: 5px 0 10px 0;
	}

	#sign_or_log_in {
		right: 10px;
		position: absolute;
		top: 0;
		text-align: right;

		#sign_up, #log_in {
			margin: 10px 2px;
			width: 80px;
			height: 40px;
			border-radius: 5px;
			font-size: 15px;
			cursor: pointer;
		}

		#sign_up {
			background: $wording_blue;
			border: 1px solid $border_blue;
			color: white;
		}


		#log_in {
			background: #eee;
			border: 1px solid #aaa;
			color: black;
		}
	}
}

#content {
	background: #fff;
	width: 100%;
	min-height: 500px;
	overflow: hidden;

	#slider_bar {
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		width: 100%;
		padding: 10px;
		margin-top: 10px;
		padding-left: 0;

		ul {
			li {
				display: inline-block;
				margin-right: 30%;
			}
		}
	}

	#practice_div {
		display: none;
		width: 96%;
		margin: 1%;
		padding: 1%;
		background: #fff;

		h1 {
			font-size: 30px;
			margin: 10px;
		}

		h2 {
			font-size: 40px;
			margin: 10px;
		}

		input {
			width: 50%;
			height: 50px;
			font-size: 20px;
			padding: 10px;
			margin: 0 auto;
		}

		button {
			width: 100px;
			height: 50px;

			margin: 10px;
			border-radius: 5px;
			background: $wording_blue;
			border: none;
			outline: none;
			color: white;
			font-size: 20px;
			border: 1px solid $border_blue;

			cursor: pointer;
		}
	}


	#left_content, #right_content, #middle_content {
		display: inline-block;
		width: 32.6%;
		height: 100%;
		padding: 8px;
		float: left;
		border: 1px solid #ddd;
		border-top: none;
		border-bottom: none;
	}

	#left_content {
		border: 1px solid #ddd;
		border-top: none;
		border-bottom: none;
		margin: 0;
		width: 150px;
		height: 100%;

		a {
			color: #3B96FF;

			&:hover {
				color: black;
			}
		}
	}

	#middle_content {
		a {
			color: $url_blue;
		}

		table {
			text-align: left;
			width: 100%;
			border: 1px solid #ddd;
			border-top: none;

			p {
				padding: 5px;
			}

			th {
				font-weight: bold;
				padding: 10px;
			}

			tr:nth-child(even) {
				background: #f1f1f1;
			}

			tr {
				border: 1px solid #ccc;
			}

			td {
				padding: 10px;

				&:hover > button {
					opacity: 1;
				}
			}

			button {
				transition: opacity 0.3s;
				opacity: 0;
				margin: 0 10px;
				float: right;
				padding: 0 10px;
				border-radius: 5px;
				cursor: pointer;
				font-size: 12px;
				color: white;
			}

			#practice_list {
				background: $wording_blue;
				border: 1px solid $border_blue;
			}

			#delete_list {
				background: #F20000;
				border: 1px solid #960303;
			}

			#edit_list {
				background: #FA6900;
				border: 1px solid #913D00;
			}
		}
	}

	#right_content {
		display: none;
		width: 50%;
		border-right: none;

		text-align: center;

		table {
			text-align: left;
			width: 100%;
			border: 1px solid #ddd;
			border-top: none;

			p {
				padding: 5px;
			}

			th {
				font-weight: bold;
				padding: 10px;
			}

			tr {
				border: 1px solid #ccc;
			}

			td {
				padding: 10px;
			}

			tr:nth-child(even) {
				background: #f1f1f1;
			}
		}

		#practice_button {
			width: 200px;
			height: 50px;
			font-size: 25px;
			background: $wording_blue;
			color: white;
			border-radius: 5px;
			margin: 10px 0 10px 10px;
			border: 1px solid #1C1E80;
			outline: none;
			cursor: pointer;
		}
	}
}

footer {
	text-align: center;
	margin: 20px;
}
