<html>
	<head>
		<title>Wording</title>

		<!-- stylesheets -->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ngDialog.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ngDialog-theme-default.min.css') }}">

		<!-- scripts -->
		<script src="{{ url_for('static', filename='js/frameworks/angular.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/frameworks/ngDialog.min.js') }}"></script>
	</head>

	<body ng-app="myApp">

		<div ng-controller="MainController" id="main_controller">

			<header>

				<h1>Wording</h1>

				<div id="sign_or_log_in">
					<button id="sign_up" ng-click="openSignUp()">Sign up</button><!-- This comment is for removing the space between the sign up and login in button
				 --><button id="log_in" ng-click="openLogIn()">Log In</button>
				</div>

			</header>

			<div id="content">

				<!-- load data -->
				{% if listname %}
					<div ng-init="loadUser('/{{username}}'); loadList('/{{username}}/{{listname}}')">
				{% else %}
					<div ng-init="loadUser('/{{username}}')">
				{% endif %}

						<div id="practice_div">

							<h1><b> [[listData.listname]] </b></h1>

							<h2 id="current_word"> [[ randomWord.language_1_text ]] </h2>
							<h2 id="wrong_word"></h2>

							<form ng-submit="submit()" id="word_input">
								<input type="text" ng-model="text" name="text">
								<button type="submit" id="submit">Next</button>
							</form>

							<p>Right <span id="correct">0</span></p>
							<br>
							<p>Wrong <span id="incorrect">0</span></p>

						</div> <!-- practice_div -->

						<div id="left_content">

							<h3>Friends</h3>
							
							<a href="" ng-click="loadUser('/cor')">
								<div class="user_list_item selected">
									Cor
								</div>
							</a>
							
							<a href="" ng-click="loadUser('/leon')">
								<div class="user_list_item">
									Leon
								</div>
							</a>

							<a href="" ng-click="loadUser('/philip')">
								<div class="user_list_item">
									Philip
								</div>
							</a>

						</div> <!-- left_content -->

						<div id="middle_content">

							<div id="list_header">
								<h3>Lists</h3>
							</div>

							<input ng-model="searchQuery" placeholder="Search">

							<table>
								<tr ng-repeat="list in userData.lists | filter:searchQuery">
									<td>
										<a href="" ng-click="loadList('/' + [[ userData.username ]] + '/' + [[ list.listname ]])" onclick="showList()">[[ list.listname ]]</a>
										<button id="delete_list">delete</button>
										<button id="edit_list">edit</button>
										<button id=practice_list ng-click="loadList('/' + [[ userData.username ]] + '/' + [[ list.listname ]])" onclick="showList()">practice</button>
									</td>
								</tr>
							</table>


						</div> <!-- middle_content -->

						<div id="right_content">
							<div id="list_items">
								<table>
									<h3> [[ listData.listname ]]</h3>
									<tr>
										<th> [[ listData.language_1_tag ]] </th>
										<th> [[ listData.language_2_tag ]] </th>
									</tr>
									<tr ng-repeat="word in listData.words">
										<td> [[ word.language_1_text ]] </td>
										<td> [[ word.language_2_text ]] </td>
									</tr>
								</table>

								<button id="practice_button" ng-click="getRandomWord()" onclick="showPractice()">
									Practice
								</button>

							</div> <!-- list_items -->

							<div id="results">
								<table ng-if="incorrectWords.length != 0">
									<h3> Resuslts: </h3>
									Incorrect words:
									<tr>
										<th> Correct </th>
										<th> Typed </th>
									</tr>
									<tr ng-repeat="word in incorrectWords">
										<td> [[ word.correctWord ]] </td>
										<td> [[ word.incorrectWord ]] </td>
									</tr>
								</table>

								<div id="results_bar">
									<p id="correct_bar"></p><p id="incorrect_bar"></p>
								</div>
							</div>
						</div> <!-- right_content -->
					</div> <!-- ng-init -->

			</div> <!-- content -->

			<hr>

			<footer>
				Wording Inc. &copy; 2015 ¯\_(ツ)_/¯
			</footer>
		</div> <!-- MainController -->
	</body>

	<!-- Scripts -->
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>

	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	<script src="{{ url_for('static', filename='js/controllers/MainController.js') }}"></script>
</html>