<html>
	<head>
		<title>Wording</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/reset.css') }}">
		<title>Wording Test</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
		<script src="{{ url_for('static', filename='js/frameworks/angular.min.js') }}"></script>
	</head>
	<body ng-app="myApp">
		<div ng-controller="MainController">
			<header>
				<h1>Wording</h1>

				<div id="sign_or_log_in"><button id="sign_up">Sign up</button> <br> Or, <b id="log_in">Log In</b></div>
			</header>

			<div id="content">
				<div id="slider_bar">
					<ul>
						<li>User</li>
						<li>Lists</li>
						<li>Practice</li>
					</ul>
				</div>

				{% if listname %}
					<div ng-init="loadUser('/{{username}}'); loadList('/{{username}}/{{listname}}')">
				{% else %}
					<div ng-init="loadUser('/{{username}}')">
				{% endif %}
						<div id="left_content">
							<h3><b> [[ userData.username ]]: </b></h3>
							<br>
							<p>
								<b>Email:</b> [[ userData.email ]]
							</p>

							<br>

							<b>Friends:</b>
							<br>
							<a href="" ng-click="loadUser('/cor')">Cor</a><br>
							<a href="" ng-click="loadUser('/leon')">Leon</a><br>
							<a href="" ng-click="loadUser('/philip')">Philip</a><br>
						</div> <!-- left_content -->

						<div id="middle_content">
							<b>[[ userData.username ]]'s lists:</b>
							<br>
							<ul>
								<li ng-repeat="list in userData.lists">
									<a href="" ng-click="loadList('/' + [[ userData.username ]] + '/' + [[ list.listname ]])">[[ list.listname ]]</a>
								</li>
							</ul>
						</div> <!-- middle_content -->

						<div id="right_content">
							<table>
								<b><p> [[ listData.listname ]] </p></b><br>
								<tr>
									<th> [[ listData.language_1_tag ]] </th>
									<th> [[ listData.language_2_tag ]] </th>
								</tr>
								<tr ng-repeat="word in listData.words">
									<td> [[ word.language_1_text ]] </td>
									<td> [[ word.language_2_text ]] </td>
								</tr>
							</table>

							<button id="practice_button">Practice</button>
						</div> <!-- right_content -->
					</div> <!-- ng-init -->

			</div> <!-- content -->
			<footer>

				Wording Inc. &copy; 2015

			</footer>
		</div> <!-- MainController -->
	</body>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>

	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	<script src="{{ url_for('static', filename='js/controllers/MainController.js') }}"></script>
</html>
