<!DOCTYPE html>
<html>
	<head>
		<title>Flask login</title>
	</head>
	<body>
		<h1>Log in</h1>

		<!-- Show flash messages here -->
		{% with messages = get_flashed_messages() %}
		    {% if messages %}
		    	{% for category, message in messages %}
		        	<h4 class="{{ category }}">{{ message | safe }}</h4>
		    	{% endfor %}
		  	{% endif %}
		{% endwith %}

		<table>
			<tbody>
				<tr>
					<td>
						<h2>Sign in</h2>
						<form action="login" method="post" name="login">
							<input type="text" name="username" placeholder="Username"><br>
							<input type="password" name="password" placeholder="Password"><br>
							<input type="submit" value="Login">
						</form>
					</td>
					<td>
						<h2>Register</h2>
						<form action="register" method="post" name="register">
							<input type="text" name="username" placeholder="Username"><br>
							<input type="password" name="password" placeholder="Password"><br>
							<input type="submit" value="Register">
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>