*,html,body {
	font-family: Helvetica;
	margin: 0;
	padding: 0;
}

$wording_blue: #90B2D4;

b { font-weight: bold; }

h1 {
	margin: 0;
}

header {
	padding: 20px;
	height: 60px;

	h1 {
		font-size: 40;
		font-weight: 100;
		width: 300px;
		margin: 10px 0 10px 0;
	}

	#sign_or_log_in {
		right: 10px;
		position: absolute;
		top: 0;
		text-align: right;

		#sign_up {
			width: 100px;
			height: 60px;
			font-size: 18px;
			background: $wording_blue;
			color: white;
			border-radius: 5px;
			margin: 10px 0 10px 10px;
			border: 1px solid #1C1E80;
			border-bottom: 4px solid #1C1E80;
			outline: none;

			&:active {
				border-bottom: 1px solid #1C1E80;
				border-top: 4px solid #1C1E80;
			}

			&:hover {
				cursor: pointer;
			}
		}

		#log_in {
			color: #1C1E80;

			&:hover{
				cursor: pointer;
			}
		}
	}
}

#content {
	background: $wording_blue;
	width: 100%;
	min-height: 500px;
	overflow: hidden;

	#slider_bar {
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		width: 100%;
		padding: 10px;
		margin-top: 10px;
		padding-left: 0;

		ul {
			li {
				display: inline-block;
				margin-right: 30%;
			}
		}
	}

	#left_content, #right_content, #middle_content {
		display: inline-block;
		width: 30.5%;
		margin: 1% 0.3%;
		padding: 1%;
		background: #fff;
		float: left;

		-webkit-box-shadow: 10px 10px 5px 0px rgba(50,50,50,1);
		-moz-box-shadow: 10px 10px 5px 0px rgba(50,50,50,1);
		box-shadow: 10px 10px 5px 0px rgba(50,50,50,1);
	}

	#left_content {
	}

	#middle_content {

	}

	#right_content {

		text-align: center;

		table {
			text-align: left;
			width: 100%;
			border-left: 1px solid #dddddd;
			border-right: 1px solid #dddddd;
			border-bottom: 1px solid #dddddd;

			p {
				padding: 5px;
			}

			th {
				font-weight: bold;
				padding: 10px;
			}

			tr {
				border: 1px solid #ccc;
			}

			td {
				padding: 10px;
			}

			tr:nth-child(even) {
				background: #f1f1f1;
			}
		}

		#practice_button {
			width: 200px;
			height: 50px;
			font-size: 25px;
			background: $wording_blue;
			color: white;
			border-radius: 5px;
			margin: 10px 0 10px 10px;
			border: 1px solid #1C1E80;
			border-bottom: 4px solid #1C1E80;
			outline: none;

			&:active {
				border-bottom: 1px solid #1C1E80;
				border-top: 4px solid #1C1E80;
			}

			&:hover {
				cursor: pointer;
			}
		}
	}
}

footer {
	text-align: center;
	margin: 20px;
}
