<html>
	<head>
		<title>Wording Test</title>
		<link rel="stylesheet" href="CSS/style.css">
		<script src="JS/frameworks/angular.min.js"></script>
	</head>
	<body ng-app="myApp">
		<div ng-controller="MainController">
			<h3>Info about {{ jsonData.username }}: </h3>
			<p>
				<b>Email:</b> {{ jsonData.email }}
			</p>

			<b>{{ jsonData.username }}'s lists:</b>
			<ul>
				<li ng-repeat="list in jsonData.lists">
					{{ list.listname }}
				</li>
			</ul>

			<a href="#cor" ng-click="loadData()">Cor</a><br>
			<a href="#leon">Leon</a><br>
			<a href="#philip">Philip</a><br>
		</div>
	</body>
	<script src="JS/script.js"></script>

	<script src="JS/app.js"></script>
	<script src="JS/controllers/MainController.js"></script>
</html>
